<% include head %>
<style media="screen">
  ul li{
    list-style: none;
  }
  .main{
    position: relative;
    min-height: 400px;
  }
  .head{
    height:55px;
    width: 100%;
  }
  .head ul li{
    float: left;
    width: 100%;
    max-width: 180px;
    text-align: center;
  }

  .table tr td{
    max-width: 180px;
  }
  .table tbody tr td{
    text-align: center;
  }
  .box{
    position: absolute;
    bottom: -50px;
    right: 50px;
  }
</style>
<div class="main" style="max-width:1200px; margin: 0 auto; font-size:26px;">
  <a href="/">首页</a>
  <table class="table">
    <thead>
      <tr class="text-center">
        <th class="text-center">姓名</th>
        <th class="text-center">密码</th>
        <th class="text-center">email</th>
        <th class="text-center">城市</th>
        <th class="text-center">qq</th>
        <th class="text-center">操作</th>
      </tr>
      <tbody>

      </tbody>
    </thead>

  </table>
  <div class="box"><button id="back">上一页</button>&nbsp;<i id="pag"></i>&nbsp;<button id="next">下一页</button></div>
  <script src="javascripts/pag.js" charset="utf-8"></script>


</div>

<script type="text/javascript">

  var socket = io();
  socket.on("sbb",function(msg){
    $('tbody').append(
      '<tr class="text-center"><td>'+ msg.name +'</td><td>'+ msg.password +'</td><td>'+ msg.email +'</td><td>'+ msg.city +'</td><td>'+ msg.qq +'</td><td>'+
          '<a href="/update/'+ msg._id + '">修改</a>'+' ' +
          '<a href="/del/'+ msg._id +'\">删除</a></td></tr>'
    );
  });

</script>

<% include footer %>
